<form action="/course/add"  method="post">
    <p>
        <label>Course Name</label><input value="" name="courseName"/>
        <label>Course Duration</label><input value="" name="courseDuration"/></br>
        <label>Course Fee</label><input value="" name="courseFee"/>
        <button>Add</button>
    </p>
</form>