<h1> Node JS </h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    {{#each data}}
    <tr>
        <td> {{this.courseId}} </td>
        <td> {{this.courseName}} </td>
    </tr>
    {{/each}}
</table>